
<aside id="chat" class="sidebar">

    <div class="chat-search">
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search People">
            <i class="zmdi zmdi-search"></i>
        </div>
    </div>
    <div class="lg-body c-overflow mCustomScrollbar _mCS_2 mCS-autoHide mCS_no_scrollbar" style="position: relative; overflow: visible;">
        <div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                <div class="list-group">
                    <a class="list-group-item media" href="">
                        <div class="pull-left p-relative">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/2.jpg" alt="">
                            <i class="chat-status-busy"></i>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Jonathan Morris</div>
                            <small class="lgi-text">Available</small>
                        </div>
                    </a>

                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/1.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">David Belle</div>
                            <small class="lgi-text">Last seen 3 hours ago</small>
                        </div>
                    </a>

                    <a class="list-group-item media" href="">
                        <div class="pull-left p-relative">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/3.jpg" alt="">
                            <i class="chat-status-online"></i>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Fredric Mitchell Jr.</div>
                            <small class="lgi-text">Availble</small>
                        </div>
                    </a>

                    <a class="list-group-item media" href="">
                        <div class="pull-left p-relative">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/4.jpg" alt="">
                            <i class="chat-status-online"></i>
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Glenn Jecobs</div>
                            <small class="lgi-text">Availble</small>
                        </div>
                    </a>

                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/5.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Bill Phillips</div>
                            <small class="lgi-text">Last seen 3 days ago</small>
                        </div>
                    </a>

                    <a class="list-group-item media" href="">
                        <div class="pull-left">
                            <img class="lgi-img mCS_img_loaded" src="img/demo/profile-pics/6.jpg" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lgi-heading">Wendy Mitchell</div>
                            <small class="lgi-text">Last seen 2 minutes ago</small>
                        </div>
                    </a>
                </div>
            </div>
        </div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_2_scrollbar_horizontal" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
    </div>
</aside>

<section id="content">
    <div class="container container-alt">
        <div class="messages card">
            <div class="m-sidebar">
                <header>
                    <h2 class="hidden-xs">Messages</h2>

                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-comment-text"></i>
                            </a>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a href="" data-toggle="dropdown" aria-expanded="false">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Profile &amp; Status</a>
                                </li>
                                <li>
                                    <a href="">Help</a>
                                </li>
                                <li>
                                    <a href="">Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </header>

                <div class="ms-search hidden-xs">
                    <div class="fg-line">
                        <i class="zmdi zmdi-search"></i>

                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                </div>

                <div class="list-group c-overflow mCustomScrollbar _mCS_3 mCS-autoHide" style="position: relative; overflow: visible;">
                    <div id="mCSB_3" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
                        <div id="mCSB_3_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/4.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Davil Parnell</div>
                                    <small class="lgi-text">Fierent fastidii recteque ad pro</small>
                                    <small class="ms-time">05:00 PM</small>
                                </div>
                            </a>

                            <a class="list-group-item media active" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/2.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Ann Watkinson</div>
                                    <small class="lgi-text">Cum sociis natoque penatibus </small>
                                    <small class="ms-time">10:02 AM</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/3.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Marse Walter</div>
                                    <small class="lgi-text">Suspendisse sapien ligula</small>
                                    <small class="ms-time">Yesterday</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/2.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Jeremy Robbins</div>
                                    <small class="lgi-text">Phasellus porttitor tellus nec</small>
                                    <small class="ms-time">23/04/16</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/4.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Reginald Horace</div>
                                    <small class="lgi-text">Quisque consequat arcu eget</small>
                                    <small class="ms-time">15/04/16</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/5.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Shark Henry</div>
                                    <small class="lgi-text">Nam lobortis odio et leo maximu</small>
                                    <small class="ms-time">30/03/16</small>
                                </div>
                            </a>

                            <a class="list-group-item media" href="">
                                <div class="pull-left">
                                    <img src="img/demo/profile-pics/2.jpg" alt="" class="lgi-img mCS_img_loaded">
                                </div>
                                <div class="media-body">
                                    <div class="lgi-heading">Paul Van Dack</div>
                                    <small class="lgi-text">Nam posuere purus sed velit auctor sodales</small>
                                    <small class="ms-time">10/03/16</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 485px; max-height: 489px; top: 0px;" oncontextmenu="return false;">
                                <div class="mCSB_dragger_bar" style="line-height: 50px;">
                                </div>
                            </div>
                            <div class="mCSB_draggerRail">
                            </div>
                        </div>
                    </div>
                    <div id="mCSB_3_scrollbar_horizontal" class="mCSB_scrollTools mCSB_3_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;">
                        <div class="mCSB_draggerContainer">
                            <div id="mCSB_3_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;">
                                <div class="mCSB_dragger_bar">
                                </div>
                            </div>
                            <div class="mCSB_draggerRail">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="m-body">
                <header class="mb-header">
                    <div class="mbh-user clearfix">
                        <img src="img/demo/profile-pics/2.jpg" alt="">
                        <div class="p-t-5">Ann Watkinson</div>
                    </div>

                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="zmdi zmdi-delete"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Contact Info</a>
                                </li>
                                <li>
                                    <a href="">Mute</a>
                                </li>
                                <li>
                                    <a href="">Clear Messages</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </header>

                <div class="mb-list">
                    <div class="mbl-messages c-overflow mCustomScrollbar _mCS_4 mCS-autoHide" style="position: relative; overflow: visible;">
                        <div id="mCSB_4" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
                            <div id="mCSB_4_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                               
                                
                                <div class="mblm-item mblm-item-left" ng-repeat="c in c.chats.all">
                                   
                                    <div id="discussion">
                                        <img class="mCS_img_loaded" ng-src="{{c.Photo}}" ng-srcset="{{c.Photo}}" style="width:40px; height:40px;">
                                           
                                        <strong>{{c.UserName}}: </strong>{{c.ChatMessage}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_4_scrollbar_vertical" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 233px; max-height: 490px; top: 0px;" oncontextmenu="return false;">
                                    <div class="mCSB_dragger_bar" style="line-height: 50px;">
                                    </div>
                                </div>
                                <div class="mCSB_draggerRail">
                                </div>
                            </div>
                        </div>
                        <div id="mCSB_4_scrollbar_horizontal" class="mCSB_scrollTools mCSB_4_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_4_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;">
                                    <div class="mCSB_dragger_bar">
                                    </div>
                                </div>
                                <div class="mCSB_draggerRail">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mbl-compose">
                        <textarea id="message" ng-model="c.message" placeholder="Type a message..."></textarea>
                        <button type="submit" id="sendmessage" value="Send" ng-click="c.sendChat();"><i class="zmdi zmdi-mail-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--<form name="chatForm" >
        <h2>Chat</h2>
        <div class="container">
            <ul id="discussion">
                <li ng-repeat="c in chats.all"><strong>{{c.UserName}}: </strong>{{c.ChatMessage}}</li>
            </ul>
            <input type="text" id="message" ng-model="message" />
            <input type="submit" id="sendmessage" value="Send" ng-click="sendChat();" />

        </div>
        <script type="text/javascript">
            // Set initial focus to message input box.
            $('#message').focus();

        </script>

</form>-->
